@font-face {
  font-display: block;
  font-family: 'bootstrap-icons';
  src: url('../fonts/bootstrap-icons.woff2') format('woff2'),
    url('../fonts/bootstrap-icons.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NotoSansJP-Regular.woff') format('woff'),
    url('../fonts/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NotoSansJP-Medium.woff') format('woff'),
    url('../fonts/NotoSansJP-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NotoSansJP-Bold.woff') format('woff'),
    url('../fonts/NotoSansJP-Bold.otf') format('opentype');
}

.bi::before,
[class^='bi-']::before,
[class*=' bi-']::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-gear-fill::before {
  content: '\f3e2';
}
.bi-info-circle::before {
  content: '\f431';
}

body {
  font-family: 'Noto Sans JP', 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
  padding: 2rem;
  --sb-track-color: #232e33;
  --sb-thumb-color: #1b4b82;
  --sb-size: 6px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
